<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Please sign in</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>

  <style>
    header {
      background-image: linear-gradient(45deg, #CA8BAD, #F39C12, #88C7BB);
      width: 100%;
      border-radius: 10px 10px 0 0;
    }

    header>img {
      width: 200px;
      height: 200px;
      border-radius: 30%;
      object-fit: cover;
      display: block;
      margin: 0 auto;
      border: 5px solid black;
    }

    .mycard {
      border: 3px solid gold;
    }

    .mycard p {
      white-space: inherit;
      width: 100%;
      height: 190px;
      border: 0;
      overflow: hidden;
      text-align: justify;
    }

    @media only screen and (max-width: 600px) {
      .mycard p {
        height: 100px;

      }
    }
  </style>
</head>

<body th:object="${account}">
  <header class="container p-0 pt-3">
    <img
            th:src="@{/api/getAccountImage/{userId}/download/{imageName}(userId=*{id},imageName=*{profileImageLink})}"
            alt="profile picture">
    <h3 class="text-center m-2">Lotu</h3>
    <hr />
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="image/blog.png" alt="blog logo" width="30" height="24"
            class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <section class="container bg-secondary p-3">

    <div class="mycard row container bg-light position-relative mx-auto p-3" style="max-height: 400px;">
      <div id="carouselExampleControls" class="carousel slide col-4 rounded" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Gull_portrait_ca_usa.jpg"
              class="d-block w-100 rounded" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Gull_portrait_ca_usa.jpg"
              class="d-block w-100 rounded" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Gull_portrait_ca_usa.jpg"
              class="d-block w-100 rounded" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="col-8">
        <h2 class="text-center">Title</h2>
        <p class="text-justify">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, exercitationem saepe est, incidunt ab,
          repudiandae et eligendi quo debitis numquam consequuntur commodi tempora quis repellendus aspernatur? Dolores
          cum in ullam, deleniti commodi alias aspernatur magnam quos similique totam voluptatum rem atque officia
          delectus ad sit ex minus voluptatibus molestiae animi nam repellat. Omnis illo blanditiis dolores. Ducimus ex
          facere culpa obcaecati id illo amet modi dolore, cumque quam fugit mollitia aspernatur possimus ratione ea
          doloremque aperiam! Ducimus fugit quis quidem ipsum eum cum expedita, quisquam, similique voluptatum ad
          recusandae rerum suscipit ab iusto at mollitia praesentium, perspiciatis voluptatem. Tempore atque itaque quod
          rem beatae sunt veritatis. Quam exercitationem aperiam harum autem aliquam sunt voluptatum obcaecati beatae
          inventore quidem distinctio eaque neque in asperiores ut, reiciendis iusto modi suscipit. Porro fugit aut
          adipisci aspernatur reprehenderit nobis, perspiciatis inventore totam facere possimus officiis iure explicabo
          at voluptate quos mollitia sapiente laboriosam maxime omnis atque cum, aliquid, quo numquam. Exercitationem
          nihil, nesciunt ad reprehenderit officiis minus odio excepturi magnam consequatur quaerat eum id enim harum
          dolorum mollitia ea aliquam! Doloremque vero, modi esse repudiandae porro autem animi ipsam repellendus. Quasi
          libero molestiae, repellat eius iste ullam deleniti distinctio laudantium explicabo quod. Commodi, corrupti.
        </p>
        <a href="" class="btn btn-danger float-end">Delete</a>
        <a href="" class="btn btn-warning float-end">Read more</a>
      </div>
    </div>

  </section>

</body>

</html>